@inject RChanContext _context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RChan @ViewData["Title"]</title>
    @* <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css"> *@

    @* <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"> *@

            <!-- ICONOS -->
    @* <link rel="stylesheet" href="https://cdn.rawgit.com/luizbills/feather-icon-font/v4.7.0/dist/feather.css"> *@
    <link rel="stylesheet" href="~/iconos/iconos.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script>
        @if(User.Identity.IsAuthenticated) {
            <text>const tieneSesion = true;</text>
            
        }else {
            
            <text>const tieneSesion = false;</text>
        }
    </script>
</head>
<body>

    <div class="debug">
        <p>Esta Autenticado: @User.Identity.IsAuthenticated</p>
        @foreach (var cliam in User.Claims)
        {
            <p>@cliam.Type: @cliam.Value</p>
        }
    </div>
    <partial name="_HiloFormPartial" model="new CrearHiloViewModel()"></partial>
    <partial name="_SessionForm" model="new RegistroVM()"></partial>
 
    <header>
        <div class="nav-principal">
        <a href="/"><h3>Roxed</h3></a>
    
        <div class="nav-botones">

            @* categorias *@
            <span class="nav-boton drop-btn">
                <span class="fe fe-command"></span>
                 <ul class="panel menu1 abs lista-nav drop-menu">
                    @foreach (var c in Constantes.Categorias)
                    {
                        <a href="/@c.NombreCorto"><li>@c.Nombre</li></a>
                    }           
                </ul>
            </span>

            @* Notificaciones *@
            @if(User.Identity.IsAuthenticated){


                var notificaciones = await _context.Notificaciones
                    .Where(n => n.UsuarioId == User.GetId())
                    .Select(n => new NotificacionViewModel{
                        Id = n.Id,
                        HiloTitulo = _context.Hilos.First(h => h.Id == n.HiloId).Titulo,
                        HiloImagen = _context.Medias.First(m => m.Id == _context.Hilos.First(h => h.Id == n.HiloId).MediaId).VistaPreviaCuadrado,
                        ComentarioId = n.ComentarioId,
                        Tipo = n.Tipo,
                        Conteo = n.Conteo,
                    })
                    .AsNoTracking()
                    .ToListAsync();
                
                <div class="debug notdi-debug">
                    @Json.Serialize(notificaciones)
                </div>

                <span class="nav-boton drop-btn" >
                    <span class="fe fe-bell">
                    </span>
                    <div class="noti-cont">@notificaciones.Sum(n => n.Conteo)</div>
                    <ul class="notis panel drop-menu abs lista-nav menu1" style="visibility: visible!important;">
                        @foreach (var noti in notificaciones)
                        {
                            <a href="/Notificacion/@noti.Id">
                                <li class="noti">
                                    <img src="@noti.HiloImagen" alt="">
                                    @if(noti.Tipo == NotificacionType.Comentario){
                                        <span>@noti.Conteo Nuevos Comentarios en : @noti.HiloTitulo</span>
                                    }
                                    else{
                                        <span>@noti.Conteo Respondieron a tu comentario : @noti.ComentarioId</span>
                                    }
                                </li>
                            </a>
                        }
                            <a href="/Notificacion/Limpiar">
                                <li class="noti" style="justify-content: center;">Limpiar todas</li>
                            </a>
                    </ul>
                </span>
            }

            @* Usuario *@
            <span class="nav-boton"onclick="() => desplegarPanel(3)" >
                <span class="fe fe-user"></span>
            </span>

            @* Crear hilo *@
            <span class="nav-boton"onclick="FormHilo.mostrar(event)" >
                <span class="fe fe-plus-square"></span>
            </span>
        </div>

        @* Notificaciones *@
        @* else if(panelDesplegado == 2) {
            <ul class="categorias lista notificaciones">
                @foreach (var noti in notificaciones)
                {
                    <a class="notificacion" href="/hilo/@noti.IdHilo#@noti.IdComentario">
                        <li>
                            <img src="@noti.Imagen" alt="">
                            @if (noti.Tipo == Notificacion.TipoNoti.Comentario)
                            {
                                <span><strong>Han comentado tu hilo</strong> @noti.Titulo</span>
                            }
                            else if (noti.Tipo == Notificacion.TipoNoti.Respuesta)
                            {
                                <span><strong>Han respondido tu comentario @noti.IdComentario</strong> @noti.Titulo</span>
                            }

                        </li>
                    </a>
                }

            </ul>
        } *@

    </div>
    </header>
    <nav class="panel-hilos panel">
        <span>Hilos: </span>
        <a href="/Mis/Creados"><span>Creados</span></a>
        <a href="/Mis/Favoritos"><span>Favoritos</span></a>
        <a href="/Mis/Seguidos"><span>Seguidos</span></a>
        <a href="/Mis/Ocultos"><span>Ocultos</h3></a>
    </nav>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
